
@{
    ViewBag.Title = "Input";
}


<h2>Input</h2>
<hr />
<label>Data List</label><br />
<input class="form-control" type="text" name="City" list="cityName">
<br /><br />

<datalist id="cityName">
    <option value="İzmir"/>
    <option value="İstanbul"/>
    <option value="Ankara"/>
    <option value="Trabzon"/>
</datalist>


