
@{
    ViewBag.Title = "LiveSearch";
}
<h2>Live Search</h2>
<hr />
<label>Title Key Search</label><br />
<select class="selectpicker" data-live-search="true" data-width="auto">
    <option data-tokens="Software Developer">Yavuz Gedik</option>
    <option data-tokens="Software Developer">Gaye Kordacı</option>
    <option data-tokens="Designer">John Doe</option>
</select><br /><br />

<label>Search</label><br />
<select class="selectpicker" data-live-search="true" data-width="150px" title="Choose">
    <option>Yavuz Gedik</option>
    <option>Gaye Kordacı</option>
    <option>John Doe</option>
</select><br /><br />

<p class="text-center"><a href="https://silviomoreto.github.io/bootstrap-select/examples/">Other Samples</a></p>


